/* MEDIUM */

@font-face {
  font-family: 'Medium';
  src: url('https://res.cloudinary.com/eduluiztoledo/raw/upload/v1586384632/eusouomac/fonts/gilroy-medium-webfont.woff2') format('woff2');

  font-display: swap;
  font-weight: normal;
  font-style: normal;
  line-height: initial;
}

/* SEMIBOLD */

@font-face {
  font-family: 'Semibold';
  src: url('https://res.cloudinary.com/eduluiztoledo/raw/upload/v1586384632/eusouomac/fonts/gilroy-semibold-webfont.woff2') format('woff2');

  font-display: swap;
  font-weight: normal;
  font-style: normal;
  line-height: initial;
}

/* BLACK */

@font-face {
  font-family: 'Black';
  src: url('https://res.cloudinary.com/eduluiztoledo/raw/upload/v1586384632/eusouomac/fonts/gilroy-black-webfont.woff2') format('woff2');

  font-display: swap;
  font-weight: normal;
  font-style: normal;
  line-height: initial;
}
