/* SCROLLBAR */

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--color-gray-darkest) var(--color-gray-darker);
  scrollbar-width: thin;
}

* {
  scrollbar-color: var(--color-gray-darkest) var(--color-gray-darker);
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: var(--color-gray-darkest);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-darker);
}
