/* FRAME */

.youtube-video {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  padding-top: 56.25%;
  cursor: pointer;
  border-radius: 20px;
  background: linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -webkit-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -o-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -moz-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  box-shadow: 0px 0px 50px 0px #00000010;
}

/* THUMBNAIL */

.youtube-video img {
  top: -16.84%;
  left: 0;
  width: 100%;
  transition: all 0.2s;
  opacity: 0.2;
}

/* BUTTON */

.youtube-video .play-button {
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #00000050;
  box-shadow: none;
  transition: all 0.2s;
}

.youtube-video .play-button:before {
  margin-left: 4px;
  transition: all 0.2s;
  content: '';
  border-width: 20px 0 20px 35px;
  border-style: solid;
  border-color: transparent transparent transparent var(--color-white);
}

.youtube-video .play-button:hover {
  background-color: #00000080;
}

.youtube-video img,
.youtube-video .play-button {
  cursor: pointer;
}

.youtube-video img,
.youtube-video iframe,
.youtube-video .play-button,
.youtube-video .play-button:before {
  position: absolute;
}

.youtube-video .play-button,
.youtube-video .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* IFRAME */

.youtube-video iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* RESPONSIVO */

@media screen and (max-width: 600px) {
  .youtube-video .play-button {
    width: 70px;
    height: 70px;
  }
  .youtube-video .play-button:before {
    margin-left: 3px;
    transition: all 0.2s;
    content: '';
    border-width: 12px 0 12px 16.0px;
  }
}
