/* FRASE
*/

.frase {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 20px 30px;
  text-align: center;
  background-image: linear-gradient(to left, #00EBFC, #0025FF);
  background-image: -webkit-linear-gradient(to left, #00EBFC, #0025FF);
  background-image: -moz-linear-gradient(to left, #00EBFC, #0025FF);
  background-image: -o-linear-gradient(to left, #00EBFC, #0025FF);
}

.frase h2 {
  font-family: 'bold';
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--c-white);
}

/* RESPONSIVO
*/

@media screen and (max-width: 600px) {
  .frase h2 {
    font-size: 1rem;
  }
}
