/* FONTES
*/

@font-face {
  font-family: 'heavy';
  src: url('../../../images/fonts/gilroyheavy.woff') format('woff');

  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bold';
  src: url('../../../images/fonts/gilroybold.woff') format('woff');

  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'medium';
  src: url('../../../images/fonts/gilroymedium.woff') format('woff');

  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
