/* BENEFÍCIOS */

.beneficios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 100px;
}

/* TITLE */

.beneficios .beneficios__title {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 600px;
  padding-right: 30px;
}

.beneficios .beneficios__title p {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-white);
}

.beneficios .beneficios__title p:nth-child(2) {
  margin: 60px 0px;
}

.beneficios .beneficios__title p span {
  color: var(--color-primary);
  font-family: 'Bold';
}

/* BENEFÍCIOS */

.beneficios .beneficios__geral {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary-darker);
  padding: 50px;
  border-radius: 15px;
  width: auto;
}

.beneficios .beneficios__geral div {
  display: flex;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
}

.beneficios .beneficios__geral p {
  font-family: 'Bold';
  font-size: 1.3rem;
  color: var(--color-white);
  padding-left: 20px;
}

.beneficios .beneficios__geral div:nth-child(4) p {
  color: var(--color-primary);
}

.beneficios .beneficios__geral img {
  width: 60px;
}

/* RESPONSIVO */

@media screen and (max-width: 1200px) {
  .beneficios {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 1000px) {
  .beneficios {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    align-items: center;
    padding: 100px 20px;
  }
}

@media screen and (max-width: 600px) {
  .beneficios .beneficios__geral {
    padding: 50px 20px;
  }
  .beneficios .beneficios__geral p {
    font-size: 1rem;
    padding-left: 15px;
  }
  .beneficios .beneficios__geral img {
    width: 30px;
  }
}
