/* DEPOIMENTOS */

.depoimentos {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary-darker);
  padding: 100px;
}

/* TITLE */

.depoimentos .depoimentos__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

.depoimentos .depoimentos__title h2 {
  font-family: 'Bold';
  font-size: 2rem;
  color: var(--color-white);
}

.depoimentos .depoimentos__title p {
  font-family: 'Medium';
  font-size: 1.3rem;
  color: var(--color-white);
  opacity: 0.5;
}

.depoimentos .depoimentos__videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

/* RESPONSIVO */

@media screen and (max-width: 1000px) {
  .depoimentos {
    padding: 100px 20px;
  }
  .depoimentos .depoimentos__videos {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

/* RESPONSIVO */

@media screen and (max-width: 600px) {
  .depoimentos {
    padding: 100px 20px;
  }
}
