footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
}

footer p {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-white);
  opacity: 0.3;
  padding: 10px;
  text-align: center;
}
