/* OFERTA */

.oferta {
  display: flex;
  flex-direction: column;
  padding: 100px 0px 0px 0px;
}

/* TITLE */

.oferta .oferta__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px 100px 20px;
}

.oferta .oferta__title h2 {
  font-family: 'Bold';
  font-size: 2rem;
  color: var(--color-white);
  margin-bottom: 10px;
}

.oferta .oferta__title p {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-white);
  opacity: 0.5;
}

/* PREÇOS */

.oferta .oferta__precos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 0px 100px 100px 100px;
}

.oferta .oferta__precos .precos__box {
  padding: 30px;
  background-color: var(--color-secondary-dark);
  border-radius: 15px;
}

.oferta .oferta__precos .precos__box h3 {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-white);
  margin-bottom: 5px;
}

.oferta .oferta__precos .precos__box p {
  font-family: 'Bold';
  font-size: 2rem;
  color: var(--color-red);
  text-decoration: line-through;
}

/* COMPRAR */

.oferta .oferta__comprar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  width: 100%;
  padding: 100px 20px;
}

.oferta .oferta__comprar h3 {
  font-family: 'Bold';
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-secondary-light);
}

.oferta .oferta__comprar h3 span {
  text-decoration: line-through;
  color: var(--color-red);
}

.oferta .oferta__comprar h2 {
  font-family: 'Bold';
  font-size: 3.5rem;
  text-align: center;
  color: var(--color-secondary-dark);
}

.oferta .oferta__comprar p {
  font-family: 'Medium';
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-secondary-darkest);
  opacity: 0.5;
  margin-bottom: 20px;
}

.oferta .oferta__comprar button {
  font-family: 'black';
  font-size: 1.2rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 20px 30px;
  border-radius: 15px;
  transition: all 0.2s;
}

.oferta .oferta__comprar button:hover {
  color: var(--color-white);
  background-color: var(--color-primary-light);
  box-shadow: 0px 0px 50px 0px var(--color-primary-light);
}

/* RESPONSIVO */

@media screen and (max-width: 1200px) {
  .oferta .oferta__precos .precos__box h3 {
    font-size: 1.1rem;
  }
  .oferta .oferta__precos .precos__box p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .oferta .oferta__precos {
    grid-template-columns: 1fr 1fr;
    padding: 0px 20px 100px 20px;
  }
}

@media screen and (max-width: 600px) {
  .oferta .oferta__precos {
    grid-template-columns: 1fr;
  }
  .oferta .oferta__title h2 {
    font-size: 1.5rem;
  }
  .oferta .oferta__title p {
    font-size: 1rem;
  }
}
