/* HEADER
*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  min-height: 100vh;
  background-image: url('https://res.cloudinary.com/dobvtd2lc/image/upload/eusouomac-instagringo/background-header-ebook.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 20%;
}

/* IMAGEM
*/

.header__video {
  max-width: 700px;
  width: 100%;
}

/* TEXT
*/

.header .header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  height: 100%;
}

.header .header__text h1 {
  font-family: 'Semibold';
  font-size: 1.5rem;
  color: var(--color-gray);
  line-height: initial;
}

.header .header__text h1 span {
  background: linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -webkit-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -o-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -moz-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .header__text p {
  font-family: 'Medium';
  font-size: 1rem;
  max-width: 500px;
  color: var(--color-gray);
  line-height: initial;
  padding: 20px 0px;
}

.header .header__text button {
  font-family: 'Semibold';
  font-size: 1.3rem;
  color: var(--color-white);
  background: linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -webkit-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -o-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -moz-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  line-height: initial;
  padding: 20px 50px;
  border-radius: 100px;
  transition: all 0.3s;
}

.header .header__text button:hover {
  opacity: 0.8;
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  .header {
    grid-template-columns: 1fr;
    background-size: 10%;
    padding: 50px 20px;
  }
  .header .header__text {
    padding-right: 0px;
    padding: 20px 0px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    background-size: 20%;
  }
  .header .header__text:nth-child(1) {
    padding: 60px 20px 10px 20px;
  }
  .header .header__text:nth-child(2) {
    padding: 0px 20px 30px 20px;
  }
  .header .header__text p {
    font-size: 1rem;
  }
  .header .header__text button {
    font-size: 1rem;
    padding: 15px 30px;
  }
  .header .header__text h1 {
    font-size: 1.6rem;
  }
  .header .header__image img {
    max-width: 70%;
  }
  .header .header__image {
    margin-top: 40px;
  }
}
