/* PRECO
*/

.preco {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 100px 20px;
}

.preco h2 {
  font-family: 'Semibold';
  font-size: 2rem;
  background: linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -webkit-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -o-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -moz-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.preco p.parcelado {
  font-family: 'Semibold';
  font-size: 1.5rem;
  max-width: 500px;
  color: var(--color-gray);
  line-height: initial;
}

.preco span.price {
  font-family: 'Semibold';
  font-size: 4rem;
  max-width: 500px;
  color: var(--color-gray);
  line-height: initial;
  padding: 20px 0px 0px 0px;
}

.preco button {
  font-family: 'Semibold';
  font-size: 1.3rem;
  color: var(--color-white);
  background: linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -webkit-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -o-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  background: -moz-linear-gradient(70deg, #5851DB, #833AB4, #E1306C, #FFDC80);
  line-height: initial;
  padding: 20px 50px;
  border-radius: 100px;
  transition: all 0.3s;
  margin-top: 50px;
}

.preco button:hover {
  opacity: 0.8;
}

/* RESPONSIVO
*/

@media screen and (max-width: 700px) {
  .preco h2 {
    font-size: 1.5rem;
  }
  .preco span.price {
    font-size: 4rem;
  }
  .preco button {
    margin-top: 20px;
  }
}

@media screen and (max-width: 550px) {
  .preco h2 {
    font-size: 1.2rem;
  }
  .preco p.parcelado {
    font-size: 1.2rem;
  }
  .preco span.price {
    font-size: 2rem;
  }
  .preco button {
    font-size: 1rem;
  }
}
