@import '../base/font.css';
@import '../base/button.css';
@import '../base/link.css';
@import '../base/reset.css';
@import '../base/body.css';
@import '../base/image.css';
@import './partials/colors.css';

/* CAPTURA
*/

body {
  background-color: var(--color-secondary-darkest);
}

.captura {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* TEXTO
*/

.captura .texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  height: 100vh;
}

.captura .texto h1 {
  font-family: 'Semibold';
  font-size: 3rem;
  color: var(--color-white);
  line-height: 0;
}

.captura .texto h2 {
  font-family: 'Medium';
  font-size: 1.5rem;
  color: var(--color-white);
  padding-bottom: 40px;
}

.captura form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.captura form input.nome {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-white);
  background-color: var(--color-secondary-dark);
  padding: 20px 20px;
  border-radius: 15px;
  border: none;
  outline: none !important;
  opacity: 1;
}

.captura form input.nome::placeholder {
  opacity: 0.5;
}

.captura form input.nome:focus {
  opacity: 1;
}

.captura form input:-webkit-autofill,
.captura form input:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0px 9999px var(--color-secondary-dark);
  border: none;
  outline: none !important;
}

button {
  font-family: 'Semibold';
  font-size: 1rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 15px 30px;
  transition: all 0.2s;
  border-radius: 100px;
}

button:hover {
  color: var(--color-secondary);
  background-color: var(--color-white);
}

button.input {
  margin-right: auto;
  margin-top: 20px;
}

button.telegram {
  margin-right: auto;
  margin-top: 0;
}

/* IMAGEM
*/

.captura .imagem {
  padding: 50px;
  position: relative;
  height: 100vh;
}

.captura .imagem img {
  width: 100%;
  max-width: 500px;
  position: absolute;
  bottom: 0;
  right: 50px;
}

/* RESPONSIVO
*/

@media screen and (max-width: 800px) {
  .captura {
    grid-template-columns: 1fr;
  }
  .captura .imagem {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .captura .texto {
    padding: 0px 20px 100px 20px;
  }
  .captura .texto h1 {
    font-family: 'Semibold';
    font-size: 4rem;
    color: var(--color-white);
    line-height: 60px;
  }
  .captura .texto h2 {
    font-family: 'Medium';
    font-size: 1.5rem;
    color: var(--color-white);
    padding-bottom: 40px;
  }
}

