/* AUDIENCIA MAIS
*/

.autor_garantia {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

/* TEXTO
*/

.autor_garantia .autor {
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  background-color: var(--color-secondary-darkest);
}

.autor_garantia .autor .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding-left: 30px;
}

.autor_garantia .autor .texto h2 {
  font-family: 'Bold';
  font-size: 2rem;
  color: var(--color-primary);
}

.autor_garantia .autor .texto p {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-white);
  max-width: 600px;
}

.autor_garantia .autor .imagem img {
  width: 300px;
}

/* IMAGEM
*/

.autor_garantia .garantia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  height: 100%;
  background-image: linear-gradient(left, #002749, #00315D);
  background-image: -webkit-linear-gradient(left, #002749, #00315D);
  background-image: -moz-linear-gradient(left, #002749, #00315D);
  background-image: -o-linear-gradient(left, #002749, #00315D);
}

.autor_garantia .garantia h2 {
  font-family: 'Bold';
  font-size: 1.3rem;
  color: var(--color-primary);
}

.autor_garantia .garantia p {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-white);
  max-width: 600px;
}

.autor_garantia .garantia p span {
  color: var(--color-primary);
}

.autor_garantia .garantia img {
  width: 300px;
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  .autor_garantia {
    grid-template-columns: 1fr;
  }
  .autor_garantia .autor {
    min-height: 400px;
  }
  .autor_garantia .garantia {
    min-height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .autor_garantia .garantia {
    padding: 80px 20px;
  }
  .autor_garantia .autor {
    padding: 80px 20px;
    flex-direction: column;
  }
  .autor_garantia .autor .texto {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0px;
  }
  .autor_garantia .autor .texto h2,
  .autor_garantia .garantia h2 {
    padding-top: 30px;
  }
}
