/* AUDIENCIA MAIS
*/

.coprodutor {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

/* TEXTO
*/

.coprodutor .texto {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  background-color: var(--color-secondary-darkest);
}

.coprodutor .texto h2 {
  font-family: 'Bold';
  font-size: 1.5rem;
  color: var(--color-white);
}

.coprodutor .texto p {
  font-family: 'Bold';
  font-size: 1.1rem;
  color: var(--color-primary);
}

/* IMAGEM
*/

.coprodutor .imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 100%;
  background-color: var(--color-secondary);
}

.coprodutor .imagem img {
  width: 500px;
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  .coprodutor {
    grid-template-columns: 1fr;
  }
  .coprodutor .texto {
    min-height: 400px;
  }
  .coprodutor .imagem {
    max-height: 400px;
  }
  .coprodutor .imagem img {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .coprodutor .texto h2 {
    font-size: 1.3rem;
  }
  .coprodutor .texto p {
    font-size: 1rem;
  }
  .coprodutor .texto {
    padding: 50px 20px;
  }
  .coprodutor .imagem {
    padding: 50px 20px;
  }
}
