/* coprodutor_mercado
*/

.coprodutor_mercado {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

/* TEXTO
*/

.coprodutor_mercado .texto {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  background-color: var(--color-secondary-darkest);
}

.coprodutor_mercado .texto h2 {
  font-family: 'Bold';
  font-size: 2rem;
  color: var(--color-white);
}

.coprodutor_mercado .texto h3 {
  font-family: 'Bold';
  font-size: 1.2rem;
  color: var(--color-primary);
  padding-bottom: 15px;
}

.coprodutor_mercado .texto p {
  font-family: 'Bold';
  font-size: 1rem;
  color: var(--color-white);
  padding-bottom: 15px;
}

/* CTA
*/

.coprodutor_mercado .cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
  height: 100%;
  background-image: linear-gradient(left, #002749, #00315D);
  background-image: -webkit-linear-gradient(left, #002749, #00315D);
  background-image: -moz-linear-gradient(left, #002749, #00315D);
  background-image: -o-linear-gradient(left, #002749, #00315D);
}

.coprodutor_mercado .cta p {
  font-family: 'Bold';
  font-size: 1.5rem;
  color: var(--color-white);
  padding-bottom: 20px;
}

.coprodutor_mercado .cta p span {
  color: var(--color-primary);
}

.coprodutor_mercado .cta button {
  font-family: 'Bold';
  font-size: 1.2rem;
  color: var(--color-secondary);
  background-color: var(--color-white);
  padding: 10px 30px;
  border-radius: 100px;
  transition: all 0.2s;
}

.coprodutor_mercado .cta button:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  .coprodutor_mercado {
    grid-template-columns: 1fr;
  }
  .coprodutor_mercado .texto {
    min-height: 500px;
    height: 100%;
  }
  .coprodutor_mercado .cta {
    max-height: 500px;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .coprodutor_mercado .cta {
    min-height: 600px;
    padding: 50px 20px;
  }
  .coprodutor_mercado .texto {
    padding: 50px 20px;
  }
  .coprodutor_mercado .texto h2 {
    font-size: 1.5rem;
  }
  .coprodutor_mercado .texto h3,
  .coprodutor_mercado .texto p {
    font-size: 1rem;
  }
  .coprodutor_mercado .cta button {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .coprodutor_mercado .cta p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 350px) {
  .coprodutor_mercado .cta button {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
}
