/* HEADER
*/

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

/* TEXTO
*/

.header .texto {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  background-image: linear-gradient(left, #002749, #00315D);
  background-image: -webkit-linear-gradient(left, #002749, #00315D);
  background-image: -moz-linear-gradient(left, #002749, #00315D);
  background-image: -o-linear-gradient(left, #002749, #00315D);
}

.header .texto h1 {
  font-family: 'Bold';
  font-size: 3rem;
  color: var(--color-white);
}

.header .texto h2 {
  font-family: 'Bold';
  font-size: 1.2rem;
  color: var(--color-primary);
  padding-bottom: 15px;
}

.header .texto button {
  font-family: 'Bold';
  font-size: 1.2rem;
  color: var(--color-secondary);
  background-color: var(--color-white);
  padding: 10px 30px;
  border-radius: 100px;
  transition: all 0.2s;
}

.header .texto button:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

/* IMAGEM
*/

.header .imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 100%;
  background-color: var(--color-secondary-darkest);
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  .header {
    grid-template-columns: 1fr;
  }
  .header .texto {
    min-height: 400px;
  }
  .header .imagem {
    max-height: 500px;
  }
  .header .imagem img {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header .texto h1 {
    font-size: 2rem;
  }
  .header .texto h2 {
    font-size: 1rem;
  }
  .header .texto button {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .header .texto {
    padding: 50px 20px;
  }
  .header .imagem {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 350px) {
  .header .texto h1 {
    font-size: 1.6rem;
  }
  .header .texto button {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
}
