/* PRECO
*/

.preco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 300px;
  background-color: var(--color-primary);
  padding: 100px 20px;
}

.preco .texto {
  max-width: 700px;
}

.preco .texto p {
  font-family: 'Bold';
  font-size: 1.7rem;
  color: var(--color-secondary-dark);
}

.preco .texto h2 {
  font-family: 'Bold';
  font-size: 10rem;
  color: var(--color-white);
  line-height: 10rem;
}

.preco .texto h2 span {
  font-size: 5rem;
}

.preco .texto button {
  font-family: 'Bold';
  font-size: 1.2rem;
  color: var(--color-secondary-dark);
  background-color: var(--color-white);
  padding: 10px 30px;
  border-radius: 100px;
  transition: all 0.2s;
}

.preco .texto button:hover {
  color: var(--color-white);
  background-color: var(--color-secondary);
}

/* RESPONSIVO
*/

@media screen and (max-width: 600px) {
  .preco .texto p {
    font-size: 1.2rem;
  }
  .preco .texto h2 {
    font-size: 5rem;
    line-height: 5rem;
    padding-bottom: 10px;
  }
  .preco .texto h2 span {
    font-size: 3rem;
  }
  .preco .texto button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
