/* COLORS */

:root {
  --color-primary-lightest: #7AD1FD;
  --color-primary-lighter: #63C9FD;
  --color-primary-light: #48C0FD;
  --color-primary: #28B5FD;
  --color-primary-dark: #229EDE;
  --color-primary-darker: #24A5E8;
  --color-primary-darkest: #229EDE;

  --color-secondary-lightest: #254F74;
  --color-secondary-lighter: #19466D;
  --color-secondary-light: #0D3C65;
  --color-secondary: #00315D;
  --color-secondary-dark: #002749;
  --color-secondary-darker: #001F3A;
  --color-secondary-darkest: #00182E;

  --color-white: #ffffff;
}

/* BASE BODY */

body {
  position: relative;
  height: 100%;
  background-color: var(--color-secondary-darkest);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* SELECTION COLOR */

*::selection {
  color: var(--color-white);
  background-color: var(--color-cyan);
}

/* RESPONSIVE */

@media screen and (max-width: 1000px) {
  body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  body::-webkit-scrollbar {
    width: 0 !important;
  }
}

/* MEDIUM */

@font-face {
  font-family: 'Medium';
  src: url('../../../images/base/fonts/gilroy-medium.woff2?v=1.0') format('woff2');

  font-display: swap;
  font-weight: normal;
  font-style: normal;
  line-height: initial;
}

/* SEMIBOLD */

@font-face {
  font-family: 'Semibold';
  src: url('../../../images/base/fonts/gilroy-semibold.woff2?v=1.0') format('woff2');

  font-display: swap;
  font-weight: normal;
  font-style: normal;
  line-height: initial;
}

/* IMAGE */

img {
  width: auto;
  max-width: 100%;
}

/* BLOCK SELECTION */

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

/* LINK */

a {
  cursor: pointer;
  transition: ease all 0.2s;
  text-decoration: none;
  color: unset;
}

a:link,
a:visited,
a:hover,
a:active {
  color: unset;
}

a:focus {
  outline: none;
}

a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
       -o-user-select: none;
}

/* BUTTON */

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button:hover {
  transition: all ease 0.2s;
}

button:focus {
  outline: 0 !important;
}

button::-moz-focus-inner {
  border: 0;
}

/* BLOCK SELECTION */

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
       -o-user-select: none;
}

/* CAPTURA
*/

.captura {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* TEXTO
*/

.captura .texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  height: 100vh;
}

.captura .texto h1 {
  font-family: 'Semibold';
  font-size: 2.9rem;
  color: var(--color-white);
  line-height: 0px;
}

.captura .texto h2 {
  font-family: 'Medium';
  font-size: 2rem;
  color: var(--color-primary);
  line-height: 0px;
  padding-bottom: 30px;
}

.captura form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.captura form input.nome {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-primary);
  background-color: var(--color-secondary-dark);
  padding: 20px 20px;
  border-radius: 15px;
  border: none;
  outline: none !important;
  opacity: 1;
}

.captura form input.nome::placeholder {
  opacity: 1;
  color: var(--color-white);
}

.captura form input.nome:focus {
  opacity: 1;
}

.captura form input:-webkit-autofill,
.captura form input:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0px 9999px var(--color-secondary-dark);
  border: none;
  outline: none !important;
}

button {
  font-family: 'Semibold';
  font-size: 1rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 15px 30px;
  transition: all 0.2s;
  border-radius: 100px;
}

a {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  justify-self: flex-start;
}

button:hover {
  color: var(--color-secondary);
  background-color: var(--color-white);
}

button.input {
  margin-right: auto;
  margin-top: 20px;
}

button.telegram {
  margin-right: auto;
  margin-top: 0;
}

/* IMAGEM
*/

.captura .imagem {
  padding: 50px;
  position: relative;
  height: 100vh;
}

.captura .imagem img {
  width: 100%;
  max-width: 500px;
  position: absolute;
  bottom: 0;
  right: 50px;
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  .captura {
    grid-template-columns: 1fr;
  }
  .captura .imagem {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .captura .texto {
    padding: 0px 20px 100px 20px;
  }
  .captura .texto h1 {
    font-size: 2.5rem;
    line-height: 50px;
    max-width: 260px;
  }
  .captura .texto h2 {
    font-size: 1.5rem;
    padding-bottom: 40px;
  }
}

