/* OBJETOS
*/

.ferramenta .objetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 300px;
  min-height: 100vh;
  background-color: var(--c-white);
  padding: 50px;
}

/* TEXTO
*/

.ferramenta .objetos .nome {
  display: flex;
  align-items: flex-start;
  text-align: left;
  padding: 30px 0px 10px 0px;
  width: 100%;
}

.ferramenta .objetos .nome p {
  font-family: 'medium';
  font-size: 1rem;
  color: var(--c-gray);
}

/* TITULO
*/

.ferramenta .objetos .titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.ferramenta .objetos .titulo h2 {
  font-family: 'bold';
  font-size: 1.3rem;
  color: var(--c-blue-dark);
  text-transform: uppercase;
}

.ferramenta .objetos .titulo p {
  font-family: 'medium';
  font-size: 1rem;
  color: var(--c-gray);
}

/* CORES
*/

.ferramenta .objetos .cores {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.ferramenta .objetos .cores .cor {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 5px;
}

.ferramenta .objetos .cores .cor.primeiro {
  margin-left: 0px;
}

.ferramenta .objetos .cores .cor:hover {
  opacity: 0.8;
}

/* .COR
*/

.ferramenta .objetos .cores .cor.azul {
  background-color: var(--c-blue-strong);
}

.ferramenta .objetos .cores .cor.azul_claro {
  background-color: var(--c-blue-light);
}

.ferramenta .objetos .cores .cor.azul_escuro {
  background-color: var(--c-blue-dark);
}

.ferramenta .objetos .cores .cor.vermelho {
  background-color: var(--c-red);
}

.ferramenta .objetos .cores .cor.verde {
  background-color: var(--c-green);
}

.ferramenta .objetos .cores .cor.laranja {
  background-color: var(--c-orange);
}

.ferramenta .objetos .cores .cor.preto {
  background-color: var(--c-black);
}

.ferramenta .objetos .cores .cor.branco {
  background-color: var(--c-white);
  border: 1px solid var(--c-gray);
}

.ferramenta .objetos .cores .cor.cinza {
  background-color: var(--c-gray);
}

.ferramenta .objetos .cores .cor.gradiente {
  background-image: linear-gradient(to bottom, #00EBFC, #0025FF);
  background-image: -webkit-linear-gradient(to bottom, #00EBFC, #0025FF);
  background-image: -moz-linear-gradient(to bottom, #00EBFC, #0025FF);
  background-image: -o-linear-gradient(to bottom, #00EBFC, #0025FF);
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  .ferramenta .objetos {
    min-width: 100%;
    min-height: auto;
    padding: 100px 20px;
  }
}

@media screen and (max-width: 350px) {
  .ferramenta .objetos .cores .cor {
    width: 25px;
    height: 25px;
  }
}
